@charset "UTF-8";
/* CSS Document */

a:visited, a:link {
  color: #0F81BA;
  text-decoration: none;
}

a:hover {
  color: #cc6600;
}

p {
	margin-top: 0px;
	margin-bottom: 15px;
	font: 600 1.0em 'Titillium Web', Helvetica, Arial, sans-serif;
	font-weight: normal;
}
h1, h2, h3, h4, h5 {
	margin-top: 0px;
	margin-bottom: 10px;
}

h1 {
	font: 400 1em 'Aldrich', Helvetica, Arial, sans-serif;
	font-weight:normal;
}
h2 {
	font: 600 0.9em 'Titillium Web', Helvetica, Arial, sans-serif;
	font-weight: normal;
}
h3 {
	font: 700 0.9em 'Titillium Web', Helvetica, Arial, sans-serif;
	font-weight: bold;
}

ul {
	list-style: none;
	margin: 0px 0px 10px;
	padding: 0px;

}


/* --- PANELS---*/
.panel  {
	display: block;
	box-sizing: border-box;
  -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-color: #231F20;
	padding: 15px 6px 4px;
	font: 400 1em 'Aldrich', Helvetica, Arial, sans-serif;
	
  overflow-y: auto;
  height: 100%;
	
}
.panel h1 {
	margin-left: 5px;
	margin-right: 5px;
	color: #7CB236;
	text-transform: uppercase;
	font-size: 1.2em;
}
.panel h2 {
	margin-right: 5px;
	color: #7CB236;
	font-size: 1.1em;
	background-color: #1C2E4F;
	padding: 4px 10px;
}
.panel h3 {
	color: #1883B8;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 1.1em;
	font-weight: bold;
}


.panel ul {
	margin: 0 0 5px 0;
	padding: 0px 0px 0px 0px;
	color: #58A0C4;
	font-size: 0.9em;
	background-color: #162039;
	border: 1px solid #182952;
}

.panel ul li {
  padding: 7px 0 5px 5px;
}




/* --- INPUT - --*/


.panel textfield {
  width: 90px;
  padding: 7px 7px 5px 10px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  color: #7CB236;
  font-size: 1.1em;
  line-height: 110%;
  background-color: #161414;
  border: 1px solid #284EAD;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}





.input-Option  {
  font-weight:500;
  font-size:12pt;
  margin:1px 0 1px 0;
  padding:2px 10px 2px 10px;
  text-align:left;
  background-color:#eeeeee;
  padding: 7px 7px 5px 10px;
    
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  color: #7CB236;
  font-size: 1.4em;
  background-color: #161414;
  border: 1px solid #284EAD;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  
}



.panel.input label {
  width: 100%;
  display: block;
  margin-bottom:3px;
}


.panel input, 
.panel textfield {
  width: 90px;
  padding: 4px 7px 4px 10px;
  margin: 0 7px 0 0;
  color: #7CB236;
  font-size: 1.1em;
  line-height: 110%;
  background-color: #161414;
  border: 1px solid #284EAD;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}



/* --- INPUT - Icons ---*/
.panel.input .more {
  width: 18px;
  display: block;
  float:right;
  margin-top:2px;
}
.panel.input .more a {
  width: 19px;
  height: 18px;
  display: block;
  background-repeat: no-repeat;
}
.panel.input .more a.info {
  margin-bottom:5px;
  background-image: url(../../images/laura/icons-panel-info.png);
  background-position: 0px top;
}
.panel.input .more a.param {
  background-image: url(../../images/laura/icons-panel-parameters.png);
  background-position: 0px top;
}
.panel.input .more a:hover.info, 
.panel.input .more a:hover.param {
  background-position: -20px top;
}
.panel.input .more a:active.info, 
#input .panel.input .more a:active.param {
  background-position: -40px top;
}
.panel.input .more a.info.disabled, 
.panel.input .more a.param.disabled {
  background-position: -60px top;
  cursor:default;
}



#lgb-gui-view-LeftPanelSimpleGUI-0 .k-dropdown {
  
  font-size: 0.8em;
  width: 200px;
}

#lgb-gui-view-LeftPanelSimpleGUI-0  {
  margin: 8px 0 0 6px;
}




