#progressbarContainer {
	position: absolute;
	top:590px;
	left: 633px;
	width:204px;
	height:28px;
	z-index:100;

}


#progressbarTitle {
	width:204px;
	height:20px;
	padding:2px 2px 2px 2px;
	text-align:center;
	z-index:100;
}



#progressbarBackground
{
	position: absolute;
	top:90px;
	left: 633px;
	
	width:202px;
	height:58px;
	
	background-color:#999;
	padding:2px 2px 2px 2px;
	margin:0 0 0 0;
	border-radius:3px;
	text-align:left;
	border:1px solid gray;	
	z-index:100;
}


#progressbar
{
  width:200px;
  padding:0px;
  background-color:#fff;
  border:1px solid black;
  height:56px;
  z-index:100;
}

#indicator
{
  width:0px;
  background-color:#00aa00;
  height:28px;
  margin:0;
  z-index:100;
}

#progressnum
{
  color:#eee;
  padding-top:6px;
  text-align:center;
  width:200px;
  font-weight: bold;
  z-index:100;
  
}