img{
	border:none;
}


#wrapper2 {
	position: absolute;
}

#leftNav {
	position: absolute;
	top:120px;
	width:55px;
	height:420px;
	background-image:url("../images/leftnav.png");
	background-repeat:no-repeat;
	left:20px;
	z-index: 1;
	padding:44px 0 0 8px;
	opacity:.9;
}

#leftNav a{

	padding:44px 0 0 8px;

}

#leftNav div {
	padding:10px 0 0 0;
} 


#leftNav a img{
	padding:10px 0 0 0;
	margin:0px;
}

#contents2 {
	position: absolute;
	width:720px;
	height:486px;
	
}