@charset "UTF-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Aldrich|Titillium+Web:400,600,700);

html {
	height: 100%;
	background-color: #231F20;
	background-image: url(../images/back-main.jpg);
	background-position: left top;
	background-repeat: repeat;
  font: 400 1.0em 'Aldrich', Helvetica, Arial, sans-serif;
}

body {
  font: 400 1em 'Aldrich', Helvetica, Arial, sans-serif;
}

#pageContainer {
    top:0px;
    left:0px;
    position:absolute;
    width:100%;
    height:100%;
    overflow:hidden;
    background-image: url(../images/back-top.jpg);
    background-repeat: repeat-x;
}

.logo-lhpb {
  width: 120px;
  height: 38px;
  background-image: url(../images/logo.png);  
  background-repeat: no-repeat;
}


a:link, a:visited {
  color: #0F81BA;
  text-decoration: none;
}
a:hover, .select a:hover, .input-controls a:hover, a:hover, .panel a:hover {
	color: #58A0C4;
}
a:active, .select a:active, .input-controls a:active, .panel a:active {
	color: #ACDEEF;
}
a.selected:link, a.selected:visited , a.selected:hover, a.selected:hover,
.select a.selected:hover, .input-controls a.selected:hover, .panel a.selected:hover {
  color: #88C442;
  cursor:default;
}
p {
  margin-top: 0px;
  margin-bottom: 15px;
}

h1, h2, h3, h4, h5 {
	margin-top: 0px;
	margin-bottom: 10px;
}

h1 {

}
h2 {
  text-transform:none;
}
h3 {
  text-transform:none;
}

img {
  max-width: 100%;
}

ul {
	margin: 0px 0px 10px;
	padding: 0px;
	list-style: none;
}



/* --- SELECT  ---*/

.select input, .select textfield, .select select {
  padding: 5px;
  color: #7CB236;
  background-color: #161414;
  border: 1px solid #284EAD;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px
}
.select select {
  padding: 5px;
  color: #7CB236;
  background-color: #161414;
  border: 1px solid #284EAD;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* --- SELECT - Action ---*/
.scenario-action {
  margin-bottom: 15px;
  font-size: 0.85em;
  text-transform: uppercase;
}
ul.scenario-action  {
  display: block;
  float:right;
  background-color: #162B60;
  border: 2px solid #231F20;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  font-size: 0.70em;
}
ul.scenario-action li  {
  padding: 7px 5px 5px;
  float: left;
  border-right: 2px solid #231F20;
}


/* --- INPUT CONTROLS ---*/
.input-controls  {
  height: 145px;
  display: block;
  z-index: 500;
  background-image: url(../images/mini-map-back.png);
  background-repeat: no-repeat;
  background-position: 80px 10px;
  position: relative;
  font-size: 1.0em;
  clear: both;
  margin: 30px 0 0 0;
}



/* --- INPUT CONTROLS - Building Level ---*/
.input-controls ul.building-level  {
  background-color: #162B60;
  width: 60px;
  text-align: center;
  border: 2px solid #231F20;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  position: absolute;
  top: 45px;
  left: 30px;
  overflow-x: no-content;
  font-size: 0.75em;
  text-transform: uppercase;
}

.input-controls .building-level li  {
  padding: 4px 0 0 0;
  border-bottom: 2px solid #231F20;
}


.building-level a {
  display:block;
  line-height:20px;  
  
}


/* --- INPUT CONTROLS - Mini Map ---*/
.mini-map  {
  height: 43px;
  width: 55px;
  display: block;
  z-index: 700;
  background-image: url(../images/mini-map.gif);
  background-repeat: no-repeat;
  position: absolute;
  left: 116px;
  top: 49px;
  z-index: 2000;
}

.mini-map .mini-map-location {
  width: 7px;
  height: 7px;
  position: absolute;
  top: 7px;
  left: 13px;
  background-color: rgba(15,95,32,0.80);
  border: 1px solid #88C442;
  -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
  z-index: 100;
}
.mini-map a.mini-map-zone {
  width: 17px;
  height: 12px;
  position: absolute;
}
.mini-map a:hover.mini-map-zone {
  background-color: rgba(15,69,97,0.50);
  border: 1px solid #0194DD;
  cursor: crosshair;
}
.mini-map a:hover.mini-map-zone {
  background-color: rgba(15,69,97,0.50);
  border: 1px solid #0194DD;
  cursor: crosshair;
}
.mini-map a:active.mini-map-zone {
  background-color: rgba(2,148,221,0.50);
  border: 1px solid #0294DD;
}
.mini-map a.mini-map-zone.top-left {
  top: 0px;
  left: 0px;
}
.mini-map a.mini-map-zone.top-center {
  top: 0px;
  left: 18px;
}
.mini-map a.mini-map-zone.top-right {
  top: 0px;
  left: 36px;
}
.mini-map a.mini-map-zone.middle-left {
  top: 13px;
  left: 0px;
}
.mini-map a.mini-map-zone.middle-center{
  top: 13px;
  left: 18px;
}
.mini-map a.mini-map-zone.middle-right {
  top: 13px;
  left: 36px;
}
.mini-map a.mini-map-zone.bottom-left {
  top: 26px;
  left: 0px;
}
.mini-map a.mini-map-zone.bottom-center {
  top: 26px;
  left: 18px;
}
.mini-map a.mini-map-zone.bottom-right {
  top: 26px;
  left: 36px;
}



.k-sprite {
  display: inline-block;
  background-repeat: no-repeat;
  font-size: 0;
  line-height: 0;
  text-indent: -3333px;
  text-align: center;
  vertical-align: middle;  
  background:none;
  width: 4px;
  height: 24px;
  padding-top: 4px;
  
}

.k-tabstrip {
  border: 0;
}


#lgb-gui-view-LeftPanelSimpleGUI-0 .k-tabstrip-items .k-link {
  display: inline-block;
  padding: 0;
  margin: 0 0 0 0;
  width: 28px;
  height: 28px;
  
  border: 2px solid #231F20;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}



#lgb-gui-view-LeftPanelSimpleGUI-0 .k-tabstrip .k-content {
  padding: 0 0 0 0;
  margin-top: 60px;
  padding-bottom: 25px;
  border: 0;

}



#lgb-gui-view-LeftPanelSimpleGUI-0 .k-tabstrip-items .k-item .k-sprite {
  margin: 0;
  vertical-align: middle;
  border: 0;
}



#lgb-gui-view-LeftPanelSimpleGUI-0 .k-tabstrip-items .k-state-default {
  background: none;
  margin: 0 4px 0 0;
  border:none;
}


#lgb-gui-view-LeftPanelSimpleGUI-0 .k-tabstrip-items .k-state-hover {
  background: none;
  margin: 0 4px 0 0;
  border:none;
}


/**
 * Kendo inserts a tag: <span class="k-loading k-complete"></span> for some reason
 * this style hides it
 */
#lgb-gui-view-LeftPanelSimpleGUI-0 .k-loading {
  display:none;  
}



::-webkit-scrollbar { width: 16px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #284EAD; } /*up and down arrows */
::-webkit-scrollbar-track {  background-color: #284EAD;} /* background */
::-webkit-scrollbar-track-piece { background-color: #1C2E4F;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #284EAD; border-radius: 10px;}
::-webkit-scrollbar-corner { background-color: #284EAD;}}
::-webkit-resizer { background-color: #666;}

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}




a.sim-link, a.sim-link-disabled {
  font-weight:normal;
  font-size:10pt;
  color:#90d7f6;
  background-color: #162b60;
  padding:3px 3px 2px 4px;
  margin:3px;
  display: inline-block;
  border: 1px solid #284EAD;
}


a.sim-link:hover {
  background-color: #1e90ff;
  color: #e7edef;
}

a.sim-link-disabled {
  color:#3067b7;
  background-color:#1C2E4F; 
}

a.sim-link-disabled:hover  {
  cursor: default;
}



.simulation-state {
    font-size:10pt;
    padding: 0 3px 0 3px;
}



#webGLcontainerDiv {
  background-color:#E0E6E9;  
}




