
.metadata
/eclipseworkspace/demo/build/normal/temp
/eclipseworkspace/demo/bin/bin-normal
/3Dassets/testing
*.blend1
*.blend2
*.blend3
*.blend4
*.blend5
/downloads/demo11.zip
/downloads
/aptanaWorkspace/LearnHPB/bin
/aptanaWorkspace/Build/temp
*.pycaptanaWorkspace/Build/temp
*pyc