body {

	color:#303030;
	font-family: Futura Std;
	margin:0;
	padding:0;
	text-align:center;

}

#o3d {
	width:1024px;
	height:768px;
	position:absolute;  
	z-index:-1;
	padding:0;
	margin:0;
}

a {
	color:#505050;
	font-weight:bold;
	text-decoration:none;
}

p {
	line-height:1.5em;
	margin:0 0 15px;
}

h3 {
	font-size:14pt;
	height:26px;
	margin:1px 0 12px 0;
	padding:7px 0 0 0;
	text-align:center;
	font-weight:normal;
	border-width:1px 1px 1px 1px;
	border-color:#b9da92;
	border-style:solid;
}

h5 {
	font-size:12pt;
	margin:0px;
	padding:0px;
	font-weight:normal;
}

.radioButtonGroup {
	margin-bottom:10px;
}
.radioButtonText {
	font-size:12pt;
}

a:hover {
	color:#808080;
	text-decoration:underline;
}

img {
	border:none;	
}





#titleBar {
    position:absolute;
	top:-41px;
	width:245px;
	height:41px;
    z-index:101;
    background-color:transparent;  
    background-image:url('../images/top_title.png');
    background-repeat:no-repeat;
}

#configButton {
	position:absolute;
	width:21px;
	height:21px;
	left:-2000px;
    z-index:101;
    background-color:transparent;  
    background-image:url('../images/icon_wrench_21px.png');
    background-repeat:no-repeat;
    opacity:0.85;
}
#configButton:hover {
	 background-image:url('../images/icon_wrench_over_21px.png');
}




#adminView {
	opacity:0.92;
}

.adminSubPanel {
	text-align:left;
	/*border-width:1px 0px 1px 0px;
	border-color:#b9da92;
	border-style:solid; */
	padding:8px 3px 8px 3px;
}





.viewPointLink {
	font-size:11px;
}

/** leftNav **/
#leftNav {
    position:absolute;  
	width:63px;
	height:352px; 
	left:-2000px; 
    z-index:100;
    background-color:transparent;  
    background-image:url('../images/leftnav.png');
    background-repeat:no-repeat;
    opacity:0.92;
    padding: 60px 0 0 10px;
}

.leftNavButton {
	width:42px;
	height:42px;
	display:block;
	background-color:transparent;  
	margin:0 0 10px 0;
}

#leftNavButton_1 {
	background-image:url('../images/icon_general.png');
}
#leftNavButton_1:hover {
	background-image:url('../images/icon_general_over.png');
}

#leftNavButton_2 {
	background-image:url('../images/icon_hvac.png');
}
#leftNavButton_2:hover {
	background-image:url('../images/icon_hvac_over.png');
}

#leftNavButton_3 {
	background-image:url('../images/icon_exterior_envelope.png');
}
#leftNavButton_3:hover  {
	background-image:url('../images/icon_exterior_envelope_over.png');
}

#leftNavButton_4 {
	display:none;
	background-image:url('../images/icon_lighting.png');
}
#leftNavButton_4:hover {
	background-image:url('../images/icon_lighting_over.png');
}

#leftNavButton_5 {
	display:none;
	background-image:url('../images/icon_lighting.png');
}
#leftNavButton_5:hover {
	background-image:url('../images/icon_lighting_over.png');
}


/** progressbar **/
#progressbarBackground
{
	position: absolute;
	width:202px;
	height:58px;
	background-color:#999;
	padding:2px 2px 2px 2px;
	margin:0 0 0 0;
	border-radius:3px;
	text-align:left;
	border:1px solid gray;	
	z-index:100;
	font-family:Verdana,Tahoma,Arial,sans-serif;
	font-weight: bold;
}

#progressbar
{
	width:200px;
	padding:0px;
	background-color:#fff;
	border:1px solid black;
	height:56px;
}

#progressbarTitle {
	width:204px;
	height:20px;
	padding:2px 2px 2px 2px;
	text-align:center;
	font-size:0.7em;
	color:#999;
	
}


#indicator
{
  width:0px;
  background-color:#00aa00;
  height:28px;
  margin:0;
}

#progressnum
{
  color:#eee;
  padding-top:6px;
  text-align:center;
  width:200px;

  font-size:0.8em;
}
