
#o3d {
	width:1024px;
	height:768px;
	position:absolute;  
	z-index:-1;
	padding:0;
	margin:0;
}


body {

	color:#303030;
	font-family: Helvetiker;
	margin:0;
	padding:0;
	text-align:center;
}

a {
	color:#505050;
	font-weight:bold;
	text-decoration:none;
}

a:hover {
	color:#808080;
	text-decoration:underline;
}


p {
	line-height:1.5em;
	margin:0 0 15px;
}

/*** Main container ***/


img {
	border:none;	
}




