<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<compilation debug="false">
			<assemblies>
			</assemblies>
		</compilation>
		<authentication mode="Windows"/>
		<authorization>
			<allow users="*"/>
		</authorization>
	</system.web>
	<system.webServer>
		<directoryBrowse enabled="false"/>
	</system.webServer>
</configuration>
