body {
	font-family:verdana;
	font-size:11pt;
}

h2, h3, h4 {
	color:#003d80;
	font-size:18pt;
	font-weight:500;
	padding:0.25em, 0, 0.25em, 0;
	
}
h3 {
	font-size:16pt;
	color:#003d80;
	margin-left:10px;
}

h4 {
	font-size:12pt;
	color:black;
	margin-left:20px;

}


div.level1, div.level2, div.level3, div.variable  {
	padding:3px;
	width: 300px;
	font-size:14pt;
	margin-bottom:1px;
}

div.level1 {
	background-color:#A8C0D8;
	margin-left:10px;
}


div.level2 {
	background-color:#ddeedd;
	margin-left:20px;
}

div.level3 {
	background-color:#cccccc;
	margin-left:30px;
	padding:4px;

}



div.optionlist {
	width: 500px;
	padding:10px;
	
}


.level4 {
	padding:0px;
	width: 300px;
	font-size:14pt;
	margin-left:60px;
	font-size:11pt;
}

.level5 {

	padding:0px;
	width: 300px;
	font-size:14pt;
	margin-left:75px;
	font-size:11pt;
}

.option1 {
	font-size:11pt;
	width:200px;
	margin-bottom:1px;
}


.container {
	padding-left:25px;
}

.col1 {
	width: 25px;
}

.col2 {
	width: 300px;
}

.col3 {
	width: 90px;
}
.col4 {
	width: 140px;
}
.col5 {
	width: 140px;
}
.col6 {
	width: 140px;
}
.col7 {
	width: 140px;
}

table {
	border:none;
	border-collapse:collapse;
}



div.variable h4 {
	font-family:"lucida console";
	padding:4px;
	margin:0px;

}


table.options {
	border:none;
	border-collapse:collapse;
	width: 200px;
}


td {
	background-color:#eeeeee;
	border-width:1px;
	border-style:solid;
	font-size:11pt;
	text-align:left;
}

th {
	background-color:#c0c0c0;
	border-color:black;
	border-width:1px;
	border-style:solid;
	font-size:11pt;
	font-weight:630;
	color:#333333;
}


.textbox {
	width:100px;
}

div.variable {
	background-color:#F9D654;
	margin-left:40px;
	width:630px;
	padding:0px;
	font-size:10pt;
	
}


.variable-integer {
	font-size:10pt;
}

.variable h4 {
	font-size:10pt;
	color:black;
	margin-left:20px;

}


div.variable-inner {
	padding:4px;
	border-bottom:1px solid white;
}





.variable th {
	background-color:#f9e6a0;
	border-color:#fff;
	border-width:1px;
	padding:3px;
	font-weight:700;
	text-align:left;
	font-size:10pt;
}




.variable td {
	background-color:#f9e6a0;
	border-width:1px;
	border-style:solid;
	border-color:#fff;
	padding:3px;
	font-size:10pt;
}

.optionlist {
	font-size:12pt;
}
.optionlist h3 {
	font-size:12pt;
	padding:2px;
	margin:2px;
	color:#000000;
}

.optionlist td {
	background-color:#f9c154;
	width:120px;
	border-top:none;
	margin-top:-1;
}
.optionlist table {
	border:none;
}

.optionlist th {
	background-color:#cccccc;
}

.code-name-level-1 {
	background-color:#ddeedd;
}
.code-name-level-2 {
	color:#000;
	background-color:#cccccc;
}
.code-name-level-3{
	color:#000;
	background-color:#cccccc;
}

.code-name-all {
	padding-bottom:4px;
	
}

.fakeheader td{
	background-color:#c0c0c0;
	border-color:black;
	border-width:1px;
	border-style:solid;
	font-size:11pt;
	font-weight:630;
	color:#333333;
	width:120px;
}
