@charset "UTF-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Aldrich|Titillium+Web:400,600,700);

html {
	height: 100%;
	background-color: #231F20;
	background-image: url(../images/back-main.jpg);
	background-position: left top;
	background-repeat: repeat;
}
body {
	height: 100%;
	color: #1883B8;
	background-color: transparent;
	background-image: url(../images/back-top.jpg);
	background-repeat: repeat-x;
	font: 400 1em 'Aldrich', Helvetica, Arial, sans-serif;
}
a:link, a:visited {
  color: #0F81BA;
  text-decoration: none;
}
a:hover, .select a:hover, .input-controls a:hover, a:hover, .panel a:hover {
	color: #58A0C4;
}
a:active, .select a:active, .input-controls a:active, .panel a:active {
	color: #ACDEEF;
}
a.selected:link, a.selected:visited , a.selected:hover, a.selected:hover,
.select a.selected:hover, .input-controls a.selected:hover, .panel a.selected:hover {
  color: #88C442;
  cursor:default;
}
p {
  margin-top: 0px;
  margin-bottom: 15px;
}
h1, h2, h3, h4, h5 {
	margin-top: 0px;
	margin-bottom: 10px;
}
img {
  max-width: 100%;
}
ul {
	margin: 0px 0px 10px;
	padding: 0px;
	list-style: none;
}

/* --- CONTAINER ---*/
.wrapper {
	height: 100%;
	background-image: url(../images/back-grid.png);
	background-position: left bottom;
	background-repeat: no-repeat;	
}
.container {
	height: 100%;
	min-height: 600px; /*May be a better way to control this*/
	min-width: 1100px; /*Can be smaller fewer output tabs or no watch panel*/
	display: block;
	position: relative;
	overflow: hidden;
}
footer {
	height:15px;
}
.logo-lhpb {
	margin-top:15px;
	width: 120px;
	height: 40px;
	background-image: url(../images/logo.png);	
	background-repeat: no-repeat;
}
.container-left  {
	width: 310px;
	height: 98%;
	display: block;
	box-sizing: border-box;
  	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	float: left;
}
.container-right {
	height: 97%;
	display: block;
	margin-left: 310px;
	margin-right: 20px;
	padding-bottom: 20px;
	box-sizing: border-box;
  	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	clear: none;
}
.container-top {
	height: 70px;
	margin-top:15px;
	display: block;
	overflow:hidden;
	white-space: nowrap;
}
.main {
	height: 91.5%;
	display: block;
	box-sizing: border-box;
  	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: relative;
	border: 1px solid #1A3856;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-color: #0E2042;	
	z-index: 500;
}
.main .three-d {
	height: 100%;
	display: block;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-image: url(../images/3d-placeholder.jpg);
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;	
	overflow: hidden;
	-webkit-box-shadow:inset 0 0 4px 1px #000000;
	box-shadow:inset 0 0 4px 1px #000000;
}
.main .container-bottom {
	width: 100%;
	height: 270px;
	display: block;
	margin-top: -150px;
	padding: 20px 50px 10px 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: absolute;
	bottom: 0px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-image: url(../images/back-bottom-gradation.png);
	background-position: 0% top;
	background-repeat: repeat-x;
	}
.logo-superb {
	width: 90px;
	height: 37px;
	display: block;
	position: absolute;
	right: -15px;
	bottom: -1px;
	z-index: 1100;
	background-image: url(../images/logo-superb.png);
}
iframe {
	width: 100%;
	height: 250px;
	background: transparent;
	border: 0px none transparent;
	overflow:hidden;
}
iframe[seamless]{
    background-color: transparent;
    border: 0px none transparent;
    overflow: hidden;
}

/* --- CONTAINER  LEFT ---*/

/* --- SELECT  ---*/

.select input, .select textfield, .select select {
	padding: 5px;
	color: #7CB236;
	background-color: #161414;
	border: 1px solid #284EAD;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px
}
.select select {
	padding: 5px;
	color: #7CB236;
	background-color: #161414;
	border: 1px solid #284EAD;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
/* QA NOTE - Still Needs PURE CSS Menu option*/
.select select option {
	padding: 5px;
	color: #7CB236;
	background-color: #161414;
	border: 1px solid #284EAD;
}

/* --- SELECT - Scenario ---*/
.scenario {
	margin-bottom:10px;
}
.scenario select {
	width: 275px;
}

/* --- CONTROLS - Play - Pause ---*/
.scenario-play {
	width: 70px;
	display: block;
	float: left;
	margin-left:5px;
	margin-top: -25px;
	padding-top: 25px;
	padding-left: 5px;
	padding-bottom: 10px;
	border: 2px solid #231F20;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #193368;
	background-position: 0px top;
	overflow:hidden;
}
.scenario-play li {
	float:left;
	margin-right:7px;
}
.scenario-play a {
	width: 27px;
	height: 27px;
	display: block;
	background-repeat: no-repeat;
}
.scenario-play a.play {
	background-image: url(../images/controls-play.png);
	background-position: 0px top;
}
.scenario-play a:hover.play {
	background-position: -26px top;
}
.scenario-play a:active.play {
	background-position: -52px top;
}
.scenario-play a.forward {
	background-image: url(../images/controls-forward.png);
	background-position: 0px top;
}
.scenario-play a:hover.forward {
	background-position: -26px top;
}
.scenario-play a:active.forward {
	background-position: -52px top;
}

/* --- SELECT - Action ---*/
.scenario-action {
	margin-bottom: 15px;
	font-size: 0.85em;
	text-transform: uppercase;
}
ul.scenario-action  {
	display: block;
	float:right;
	background-color: #162B60;
	border: 2px solid #231F20;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	font-size: 0.70em;
}
ul.scenario-action li  {
	padding: 7px 5px 5px;
	float: left;
	border-right: 2px solid #231F20;
}

/* --- INPUT CONTROLS ---*/
.input-controls  {
	height: 145px;
	display: block;
	z-index: 500;
	background-image: url(../images/mini-map-back.png);
	background-repeat: no-repeat;
	background-position: 80px 10px;
	position: relative;
	text-transform: uppercase;
	font-size: 0.8em;
	clear: both;
}

/* --- INPUT CONTROLS - Building Icons ---*/
.building-icons  {
	position: absolute;
	left: 80px;
	top: 5px;
	z-index: 1000;
}
.building-icons li {
	float:left;
	margin-right:5px;
}
.building-icons a {
	width: 28px;
	height: 28px;
	display: block;
	background-repeat: no-repeat;
	border: 2px solid #231F20;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #193368;
	background-position: 0px top;
}
.building-icons a.building {
	background-image: url(../images/icons-building.png);
	background-position: 0px top;
}
.building-icons a.lighting {
	margin-top:-18px;
	background-image: url(../images/icons-lighting.png);
	background-position: 0px top;
}		
.building-icons a.daylight {
	margin-top:-12px;
	background-image: url(../images/icons-daylight.png);
	background-position: 0px top;
}
.building-icons a.envelope {
	margin-top:15px;
	margin-left:-2px;
	background-image: url(../images/icons-envelope.png);
	background-position: 0px top;
}
.building-icons a.hvac {
	margin-top:50px;
	margin-left:-30px;
	background-image: url(../images/icons-hvac.png);
	background-position: 0px top;
}
.building-icons a:hover.building, 
.building-icons a:hover.lighting,
.building-icons a:hover.daylight,
.building-icons a:hover.envelope,
.building-icons a:hover.hvac {
	background-position: -30px top;
}
.building-icons a.building.selected, 
.building-icons a.lighting.selected,
.building-icons a.daylight.selected,
.building-icons a.envelope.selected,
.building-icons a.hvac.selected {
	background-position: -60px top;
	cursor:default;
}
/* no need to higlight currently selected state*/
/*.building-icons a:hover.building.selected, 
.building-icons a:hover.lighting.selected,
.building-icons a:hover.daylight.selected,
.building-icons a:hover.envelope.selected,
.building-icons a:hover.hvac.selected {
	background-position: -60px top;
}*/
.building-icons a:active.building, 
.building-icons a:active.lighting,
.building-icons a:active.daylight,
.building-icons a:active.envelope,
.building-icons a:active.hvac {
	background-position: -120px top;
	border: 2px solid #0294DD;
}
.building-icons a.building.disabled, 
.building-icons a.lighting.disabled,
.building-icons a.daylight.disabled,
.building-icons a.envelope.disabled,
.building-icons a.hvac.disabled
.building-icons a:hover.building.disabled, 
.building-icons a:hover.lighting.disabled,
.building-icons a:hover.daylight.disabled,
.building-icons a:hover.envelope.disabled,
.building-icons a:hover.hvac.disabled {
	background-position: -150px top;
	cursor:default;
}

/* --- INPUT CONTROLS - Building Level ---*/
.input-controls ul.building-level  {
	background-color: #162B60;
	width: 60px;
	text-align: center;
	border: 2px solid #231F20;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	position: absolute;
	top: 45px;
	left: 28px;
	overflow-x: no-content;
	font-size: 0.85em;
}
.input-controls .building-level li  {
	padding-top: 5px;
	padding-bottom: 3px;
	border-bottom: 2px solid #231F20;
}

/* --- INPUT CONTROLS - Mini Map ---*/
.mini-map  {
	height: 43px;
	width: 55px;
	display: block;
	z-index: 700;
	background-image: url(../images/mini-map.gif);
	background-repeat: no-repeat;
	position: absolute;
	left: 116px;
	top: 49px;
	z-index: 2000;
}
.mini-map .mini-map-location {
	width: 7px;
	height: 7px;
	position: absolute;
	top: 7px;
	left: 13px;
	background-color: rgba(15,95,32,0.80);
	border: 1px solid #88C442;
	-moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
	z-index: 100;
}
.mini-map a.mini-map-zone {
	width: 17px;
	height: 12px;
	position: absolute;
}
.mini-map a:hover.mini-map-zone {
	background-color: rgba(15,69,97,0.50);
	border: 1px solid #0194DD;
	cursor: crosshair;
}
.mini-map a:hover.mini-map-zone {
	background-color: rgba(15,69,97,0.50);
	border: 1px solid #0194DD;
	cursor: crosshair;
}
.mini-map a:active.mini-map-zone {
	background-color: rgba(2,148,221,0.50);
	border: 1px solid #0294DD;
}
.mini-map a.mini-map-zone.top-left {
	top: 0px;
	left: 0px;
}
.mini-map a.mini-map-zone.top-center {
	top: 0px;
	left: 18px;
}
.mini-map a.mini-map-zone.top-right {
	top: 0px;
	left: 36px;
}
.mini-map a.mini-map-zone.middle-left {
	top: 13px;
	left: 0px;
}
.mini-map a.mini-map-zone.middle-center{
	top: 13px;
	left: 18px;
}
.mini-map a.mini-map-zone.middle-right {
	top: 13px;
	left: 36px;
}
.mini-map a.mini-map-zone.bottom-left {
	top: 26px;
	left: 0px;
}
.mini-map a.mini-map-zone.bottom-center {
	top: 26px;
	left: 18px;
}
.mini-map a.mini-map-zone.bottom-right {
	top: 26px;
	left: 36px;
}

/* --- INPUT - --*/

/* --- QA NOTE - Having trouble getting this div to accept parent div's height. Removing float did not solve the issue.  - --*/
.input-wrapper {
	margin-top: -75px;
	max-height: 100%;
}
.panel.input {
	height: inherit;	
	display: block;
	padding-top: 55px;
	box-sizing: border-box;
  	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	overflow: hidden;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.panel.input .content {
	max-height: 70%;
	display: block;
}
.panel.scroll-panel {
	width: 100%;
	height: 100%;
	overflow: auto;
}
/*#input .horizontal-only {
	height: auto;
	max-height: 200px;
}*/
.panel.input label {
	width: 100%;
	display: block;
	margin-bottom:3px;
}
.panel input, 
.panel textfield {
	width: 90px;
	padding: 7px 7px 5px 10px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	color: #7CB236;
	font-size: 1.1em;
	line-height: 110%;
	background-color: #161414;
	border: 1px solid #284EAD;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.panel.input span {
	font-size: 0.8em;
	white-space: nowrap;
}

/* --- INPUT - Icons ---*/
.panel.input .more {
	width: 18px;
	display: block;
	float:right;
	margin-top:2px;
}
.panel.input .more a {
	width: 19px;
	height: 18px;
	display: block;
	background-repeat: no-repeat;
}
.panel.input .more a.info {
	margin-bottom:5px;
	background-image: url(../images/icons-panel-info.png);
	background-position: 0px top;
}
.panel.input .more a.param {
	background-image: url(../images/icons-panel-parameters.png);
	background-position: 0px top;
}
.panel.input .more a:hover.info, 
.panel.input .more a:hover.param {
	background-position: -20px top;
}
.panel.input .more a:active.info, 
#input .panel.input .more a:active.param {
	background-position: -40px top;
}
.panel.input .more a.info.disabled, 
.panel.input .more a.param.disabled {
	background-position: -60px top;
	cursor:default;
}

/* --- TOP RIGHT ---*/

.top-field {
	height: 60px;
	margin-left: 25px;
	padding: 12px 20px;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	float: right;
	overflow: hidden;
	font-size: 0.80em;
	line-height: 1.6em;
	text-transform: uppercase;
	white-space: nowrap;
	background-color: #000000;
	background-image: url(../images/back-field.png);
	background-repeat: repeat-x;
	border: 1px solid #1A3856;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.top-field.location {
	float: right;
}

.input-controls ul.building-level  {
	background-color: #162B60;
	width: 60px;
	text-align: center;
	border: 2px solid #231F20;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	position: absolute;
	top: 45px;
	left: 28px;
	overflow-x: no-content;
	font-size: 0.85em;
}
.input-controls .building-level li  {
	padding-top: 5px;
	padding-bottom: 3px;
	border-bottom: 2px solid #231F20;
}
ul.top-field.view {
	padding-right: 10px;
}
.top-field.view li  {
	margin-top: 5px;
	margin-right: 10px;
	float: left;
}
.top-field.view a  {
	display: block;
	height: 21px;
	width: 21px;
}
.top-field.view a.one {
	background-image: url(../images/icons-view-blocks-1.png);
	background-position: 0px top;
}
.top-field.view a.two {
	background-image: url(../images/icons-view-blocks-2.png);
	background-position: 0px top;
}
.top-field.view a.three {
	background-image: url(../images/icons-view-blocks-3.png);
	background-position: 0px top;
}
.top-field.view a.four {
	background-image: url(../images/icons-view-blocks-4.png);
	background-position: 0px top;
}
.top-field.view a.five {
	background-image: url(../images/icons-view-blocks-5.png);
	background-position: 0px top;
}
.top-field.view a:hover.one,
.top-field.view a:hover.two,
.top-field.view a:hover.three,
.top-field.view a:hover.four,
.top-field.view a:hover.five   {
	background-position: -22px top;
}
.top-field.view a.one.selected,
.top-field.view a.two.selected,
.top-field.view a.three.selected,
.top-field.view a.four.selected,
.top-field.view a.five.selected   {
	background-position: -44px top;
	cursor:default;
}
.top-field.view a:active.one,
.top-field.view a:active.two,
.top-field.view a:active.three,
.top-field.view a:active.four,
.top-field.view a:active.five   {
	background-position: -88px top;
}
.top-field.view a.one.disabled,
.top-field.view a.two.disabled,
.top-field.view a.three.disabled,
.top-field.view a.four.disabled,
.top-field.view a.five.disabled   {
	background-position: -110px top;
	cursor:default;
}

/* --- ICONS BOTTOM RIGHT ---*/
.right-icons  {
	width: 45px;
	display: block;
	position: absolute;
	right: -5px;
	bottom: 40px;
	z-index: 1000;
}
.right-icons ul  {
	width:40px;
}
.right-icons li  {
	margin-bottom: 10px;	
}
.right-icons span {
	width: 38px;
	height: 38px;
	display: block;
	padding: 6px;
	background-color: #231F20;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: -2px 2px 4px 0 #141414;
	box-shadow: -2px 2px 4px 0 #141414;
}
.right-icons span a {
	width: 34px;
	height: 34px;
	display: block;
	background-position: 0px top;
	background-repeat: no-repeat;
	border: 2px solid #192952;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
.right-icons .settings span a {
	background-image: url(../images/icons-settings.png);
}
.right-icons .measurement span a {
	background-image: url(../images/icons-measurement.png);
}
.right-icons .help span a {
	background-image: url(../images/icons-help.png);
}
.right-icons .settings span a:hover, 
.right-icons .help span a:hover {
	background-position: -33px top;
}
/* --- no green selected state ---*/
/*#icons .settings span a.selected, 
#icons .measurement span a.selected,
#icons .help span a.selected {
	background-position: -66px top;
}
#icons .settings span a:hover.selected, 
#icons .measurement span a:hover.selected,
#icons .help span a:hover.selected {
	background-position: -99px top;
}*/
.right-icons .settings span a:active, 
.right-icons .measurement span a:active,
.right-icons .help span a:active {
	background-position: -132px top;
	border: 2px solid #0294DD;
}
.right-icons .settings span a:hover.disabled, 
.right-icons .measurement span a:hover.disabled,
.right-icons .help span a:hover.disabled {
	background-position: -165px top;
}

/* --- Toggle SI / IP Icons ---*/
.right-icons .measurement.si span a:hover {
	background-position: -231px top; {
}
.right-icons .measurement.si span a:active {
	background-position: -264px top; {
}
.right-icons .measurement.ip span a {
	background-position: -197px top;
}
.right-icons .measurement.ip span a:hover {
	background-position: -33px top;
}


/* --- CLEARFIX --- 
apply .cf to all elements that contain floats */
/* For modern browsers */
.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

/* --- Media Queries can be added to support smaller browser size, but iPad landscape should be set as smallest to start  ---*/

@media only screen and (max-width: 1100px), screen and (max-device width: 1100px) {

}
@media only screen and (max-width: 768px), screen and (max-device-width: 768px) {

}