@charset "UTF-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Aldrich|Titillium+Web:400,600,700);

html {
  height: 100%;
  background-color: #231F20;
  font: 400 1em 'Aldrich', Helvetica, Arial, sans-serif;
}

body {
  height: 100%;
  color: #1883B8;
}

a:link, a:visited {
  color: #0F81BA;
  text-decoration: none;
}
a:hover, .select a:hover, .input-controls a:hover, a:hover, .panel a:hover {
  color: #58A0C4;
}
a:active, .select a:active, .input-controls a:active, .panel a:active {
  color: #ACDEEF;
}
a.selected:link, a.selected:visited , a.selected:hover, a.selected:hover,
.select a.selected:hover, .input-controls a.selected:hover, .panel a.selected:hover {
  color: #88C442;
  cursor:default;
}
p {
  margin-top: 0px;
  margin-bottom: 15px;
}


h1 {
  color: rgb(124, 178, 54);
  display: block;
  font-family: Aldrich, Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 24px;
  line-height: normal;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0px;
  text-transform: uppercase;

}

h2 {
  background-color: rgb(28, 46, 79);
  color: rgb(124, 178, 54);
  display: block;
  font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 27px;
  line-height: normal;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-top: 0px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;

}


h3 {
  
  color: rgb(24, 131, 184);
  display: block;
  font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  height: 27px;
  line-height: normal;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;

}


ul {
  background-color: rgb(22, 32, 57);
  border-bottom-color: rgb(24, 41, 82);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(24, 41, 82);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(24, 41, 82);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(24, 41, 82);
  border-top-style: solid;
  border-top-width: 1px;
  color: rgb(88, 160, 196);
  display: block;
  font-family: Aldrich, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 70px;
  line-height: normal;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 5px;
  margin-top: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}



li {
  color: rgb(88, 160, 196);
  display: list-item;
  font-family: Aldrich, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 65px;
  line-height: normal;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 5px;
  text-align: left;

}

div.more {
  
  color: rgb(88, 160, 196);
  display: block;
  float: right;
  font-family: Aldrich, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 41px;
  line-height: normal;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-top: 2px;
  text-align: left;
  width: 18px;
}

.info {
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../images2/icons-panel-info.png);
  background-origin: padding-box;
  background-position: 0px 0%;
  background-repeat: no-repeat;
  background-size: auto;
  color: rgb(15, 129, 186);
  cursor: auto;
  display: block;
  font-family: Aldrich, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 18px;
  line-height: normal;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 5px;
  text-align: left;
  text-decoration: none solid rgb(15, 129, 186);
  width: 19px;
  }

input[type=text]
{
  -webkit-appearance: none;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  -webkit-writing-mode: horizontal-tb;
  background-color: rgb(22, 20, 20);
  border-bottom-color: rgb(40, 78, 173);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(40, 78, 173);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(40, 78, 173);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(40, 78, 173);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-style: solid;
  border-top-width: 1px;
  color: rgb(124, 178, 54);
  cursor: auto;
  display: inline-block;
  font-family: Aldrich, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 20px;
  letter-spacing: normal;
  line-height: 17.423999786376953px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 5px;
  margin-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 7px;
  padding-top: 7px;
  text-align: start;
  text-indent: 0px;
  text-shadow: none;
  text-transform: none;
  width: 90px;
  word-spacing: 0px;
}

div.scenario {
  
  color: rgb(24, 131, 184);
display: block;
font-family: Aldrich, Helvetica, Arial, sans-serif;
font-size: 16px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 34px;
line-height: normal;
margin-bottom: 10px;
width: 290px;

}



select {
  
  -webkit-appearance: menulist-button;
  -webkit-rtl-ordering: logical;
  -webkit-writing-mode: horizontal-tb;
  align-items: center;
  background-color: rgb(22, 20, 20);
  border-bottom-color: rgb(40, 78, 173);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(40, 78, 173);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(40, 78, 173);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(40, 78, 173);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: rgb(124, 178, 54);
  cursor: default;
  display: inline-block;
  font-family: Aldrich, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 34px;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  text-align: start;
  text-indent: 0px;
  text-shadow: none;
  text-transform: none;
  white-space: pre;
  width: 275px;
  word-spacing: 0px;
  writing-mode: lr-tb;

}


